<div class="modal" tabindex="-1" [class.show]="visible">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please identify yourself</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Enter your name</p>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <img class="personal-img" src="../../../assets/person.png" alt="" srcset="">
                    </span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark">Next</button>
            </div>
        </div>
    </div>
</div>