%centred-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

%button {
    border: none;
    display: inline-block;
    background-color: transparent;
    padding: 10px;
}