@import "../../styles/variables.scss";
@import "../../styles/placeholders.scss";

.canvas {
    @extend %centred-element;
    width: 100vw;
    height: 100vh;
}

canvas {
    border: 1px solid $grey-shadow;
    background-color: $white-background-color;
}