@import "../../styles/variables.scss";
.toast-message {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 300px;
    height: 100px;
    padding: 20px;
    box-shadow: 0px 4px 5px $grey-shadow;
}